# ==========================================
# PYTHON & JUPYTER
# ==========================================
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

/_legacy_

# Jupyter Notebook checkpoints
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Model checkpoints / training artifacts
*.ckpt
*.pt
*.pth
checkpoint-*
**/checkpoint-*
/models/finetuned


# ==========================================
# DATASETS (Сирі та проміжні дані)
# ==========================================

data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
.cache/
huggingface/

# ==========================================
# ENVIRONMENT & IDEs
# ==========================================
venv/
ENV/
.env
.venv/

# VS Code / PyCharm
.vscode/
.idea/
*.swp
*.swo

# OS Junk
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
desktop.ini

# ==========================================
# LOGS & OUTPUTS
# ==========================================
logs/
*.log
wandb/
runs/