*.tif
*.tiff
*.jpg
*.jpeg
*.png


__pycache__/
*.py[cod]
*$py.class
venv/
env/
.venv/
.env


.ipynb_checkpoints/
*/.ipynb_checkpoints/


.vscode/
.idea/
.DS_Store
Thumbs.db
ehthumbs.db


logs/
runs/
*.log